#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.unifesp-logo {
  width: 240px;
  height: 140px;
}

@media screen and (max-width: 500px) {
  .unifesp-logo {
    width: 220px;
    height: 120px;
  }

  .dae-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 694px) {
  .footer-link {
    gap: 0px;
    flex-direction: column;
  }
}